body {
	background-color:#fff0c5;
    font-family: Tahoma, Helvetica, sans-serif;	
    text-align: center;
}

p { 
    font-weight: bold

}

.komedie { 
    color:red

}

.animasjon {
    color:green


}

.drama {
    color:blue


}

.action {
    color:gray


}

#eventyr {
    color:purple


}

#class { 
    color:red

}

#id { 
    color:blue

}
